.homepage-container {
    height: 94vh;
    background-image: url(../images/homepage-background.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
}

.homepage-content {
    color: white;
    width: 98%;
    height: 20vmin;
    display: flex;
    align-items: center;
}
.App-logo {
    height: 15vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
