*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background: rgb(211,204,227);
    background: linear-gradient(0deg, rgba(211,204,227,1) 0%, rgba(233,228,240,1) 100%);
}